*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.radio{
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    color: rgb(252,151,0);
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
    vertical-align: top;
}

.punto{
    font-family: 'Syncopate', sans-serif;
    font-size: 30px;
    color: #767488;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
    vertical-align: top;
}

.cont{
    width: 95%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
}

/* HEADER */

header::before{
    content: "";
    display: block;
    margin-bottom: 80px;
}

section[id]{
    scroll-margin-top: 130px;
}

nav{
    width: 100%;
    height: 80px;
    background-image: linear-gradient(60deg,#020011 0,#07004b 80%,#0b0073 100%);
    border-bottom: 2px solid rgba(0,131,136,.3);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    z-index: 1;
    /*transition: ease-in-out 0.5s;*/
}

.nav{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}

.nav .logo{
    display: flex;
    height: 80px;
}

.nav .logo h1{
    margin-top: 25px;
    height: 100%;
}

.link-header{
    font-weight: 300;
}

a{
    text-decoration: none;
}

.nav .link-header a{
    font-family: 'Comfortaa', cursive;
    color: rgb(235,232,255);
    padding-right: 2px; 
}

.link-line-bottom a:hover{
    border-bottom-style: outset; 
    border-bottom-width: 2px;
}

.nav .link-header a:hover{
    color: rgb(252,151,0);
    transition: .3s;
}

.hamburger{
    width: 80px;
    height: 80px;
    display: none;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    /*transition: color 0.5s ease-in;*/
}

.hamburger > i{
    font-size: 25px;
    line-height: 80px;
}

/* YOUTUBE VIDEO */

.content-media{
    width: 100%;
    position: relative;
    background-color:rgb(0, 0, 0);
    display: block;
    width: 100%;
    padding-bottom: 41.75%;
}

.content-media--video iframe{
    position: absolute;
     right: 0;
     width: 100%;
     height: 100%;
 }

.content-media__object{
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
}

#featured-video {
    transition: width .2s ease-in-out, height .2s ease-in-out, transform 1s ease-in-out;
}
/** Use .sticky */
#featured-video.is-sticky { 
    animation-name: toBottom;
    animation-duration: 1s;
    position: fixed;
    max-width: 426px;
    max-height: 240px;
    width: 100%;
    height: 100%;
    bottom: 25px;
    right: 10px;
    z-index: 10;
}

@keyframes toBottom{
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(0);
    }

}

@media screen and (max-width: 722px) {
    #featured-video.is-sticky {
        transform: translateY(0);
        max-width: 244.95px;
        max-height: 138px;
    }
 }

@media screen and (min-width: 1120px) {
   #featured-video.is-sticky {
      transform: translateY(0);
   }
}

@media screen and (min-width: 1300px) {
   #featured-video.is-sticky {
      transform: translateY(0);
   }
}



/* Barra Movible */

h2{
    letter-spacing: 10px;
    text-align: center;
    font-family: 'Syncopate', sans-serif;
    color: rgb(252,151,0);
    padding: 20px;
    text-shadow: 1px 1px rgb(138, 4, 248, .2);
}

.txt-header h2{
    font-size: 120%;
}

.txt-header{
    width: 100%;
    top: 75px;
    display: flex;
    justify-content: center;
    position: sticky;
    overflow: hidden;
    background-color: #020011;
    border-top:2px solid rgba(0,131,136,.3);
    border-bottom: 3px solid rgba(0,131,136,.3);
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5);
}

/* PROGRAMAS */

.contenido-semana{
    width: 100%;
    animation-name: rainbow;
    animation-duration: 30s;
    animation-direction:alternate-reverse;
    animation-iteration-count: infinite;
}

@keyframes rainbow{
    
    0%{
        background-color:#1100ae;
    }

    50%{
        background-color:#7d00c5 ;
    }
    100%{
        background-color: rgb(216, 130, 0);
    }
}


.semana{
    display: flex;
    flex-wrap: wrap;
}

.titulo{
    z-index: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 3%;
}

@media screen and (max-width: 936px) {
    .contenido-semana .titulo h3{
        font-size:55px;
    }


 }

.titulo h3{
    font-size:150px;
    overflow: hidden;
    -webkit-animation: color-change 30s infinite alternate-reverse;
    -moz-animation: color-change 30s infinite alternate-reverse;
    -o-animation: color-change 30s infinite alternate-reverse;
    -ms-animation: color-change 30s infinite alternate-reverse;
    animation: color-change 30s infinite alternate-reverse;
}

@-webkit-keyframes color-change {
    0%{color:#00959c;}
    35%{color:#00959c ;}
    100%{color: #020011;}
}
@-moz-keyframes color-change {
    0%{color:#00959c;}
    35%{color:#00959c ;}
    100%{color: #020011;}
}
@-ms-keyframes color-change {
    0%{color:#00959c;}
    35%{color:#00959c ;}
    100%{color: #020011;}
}
@-o-keyframes color-change {
    0%{color:#00959c;}
    35%{color:#00959c ;}
    100%{color: #020011;}
}
@keyframes color-change {
    0%{color:#00959c;}
    35%{color:#00959c ;}
    100%{color: #020011;}
}



.dia-iz{
    background-image:  linear-gradient(120deg ,rgba(17,0,174,.5) ,rgba(255,255,255,.1));
    display: flex;
    align-items: center;
    margin: auto;
    width: 75%;
    border-radius: 30px;
    margin-bottom: 75px;
    transition: 0.5s;
}

.dia-iz:hover{
    cursor: pointer;
    box-shadow: -10px 10px 10px 3px rgba(17, 29, 48, 2.5);
}

.dia-iz h4{
    width: 50px;
    word-wrap: break-word;
    text-align:center;
}


.dia-iz p{
    color: #fbf7fd;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.izq{
    background-color: #367a7e;
    border-radius: 30px;
    box-shadow: -3px 10px 10px 3px rgba(17, 29, 48, 2.5);
}

.dia-de{
    background-image: linear-gradient(320deg ,rgba(17,0,174,.5) ,rgba(255,255,255,.1));
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    width: 75%;
    border-radius: 30px;
    margin-bottom: 75px;
    transition: 0.5s;
}

.dia-de:hover{
    cursor: pointer;
    box-shadow: 10px 10px 10px 3px rgba(17, 29, 48, 2.5);
}

.dia-de h4{
    width: 50px;
    word-wrap: break-word;
    text-align:center;
}

.dia-de p{
    color: #fbf7fd;
    font-size: 25px;
    padding: 20px;
    text-align: center;
}

.der{
    background-color: #00959c;
    border-radius: 30px;
    box-shadow: 3px 10px 10px 3px rgba(17, 29, 48, 2.5);
}


/* GRACIAS */

section .cabecera{
    z-index: 1;
}

h3{
    text-align: center;
    vertical-align: middle;
    font-family: 'Roboto', cursive;
    color: rgb(103,97,155);
    font-size: 30px;
}

.cabecera{
    height: 100px;
    width: 100%;
    background-color: #040024;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5);
    align-items: center;
    display: flex;
    justify-content: center;
    top: 50px;
    z-index: 0;
    overflow: hidden;

}

/* SPONSORS */

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(360deg,#857c8d 0,#d3d0d6 100%);
}

img{
    cursor: pointer;
    max-width: 150px;
    padding: 20px;
}

/* Publicidad Info*/

h4{
    font-family: 'Comfortaa', cursive;
    font-size: 100%;
    color: #fbf7fd;
    padding: 20px;
    text-align: center;
}

.publicidades{
    width: 100%;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


/* Footer */

h5{
    font-family: 'Major Mono Display', monospace;
    color: #050208;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

p{
    font-family: 'Comfortaa', cursive;
    color: #050208;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.pie{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: hidden;
    background: #fbf7fd;
}

.redes{
    text-align: center;
    
}

.social-media i{
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    background-image: linear-gradient(220deg,#1F1F1F 25%,#000  100%);
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 5px;
    text-align: center;
    transition: all ease-in-out .3s;
    margin-right: 5px;
}


.social-media i:hover{
    color: #fff;
    background-image: linear-gradient(60deg,#1fde82 0%,#0b0073 100%);
}

.line p{
    background: #fbf7fd;
    padding-bottom: 1px;
}
